@media (min-width: 381px) and (max-width: 767px) {
    .card-slider::after {
        top: 95px;
        right: 5px;
    }
}
@media (min-width: 768px) and (max-width: 1119px) {

/*---------------------------------------*/
    .wrapper {
        display: none;
    }
    .section_title {
        background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);;
    }

    .section_title_text {
        display: flex;
        margin: auto;
        max-width: 1072px;
    }

    .card_section {
        margin: auto;
        max-width: 1071px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 32px;
        text-align: center;
        padding: 24px 0 0 24px;
    }

    .link_container {
        display: flex;
        margin: auto;
        max-width: 1072px;
        padding-left: 24px;
    }

    .show_all_link {
        width: 130px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        cursor: pointer;
        column-gap: 16px;
    }

    .show_all_link.active {
        width: 130px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        cursor: pointer;
        column-gap: 16px;
        background: none;
        border: none;
        padding: 0;
    }

    .mobile_menu {
        width: 320px;
    }

    .show_all_link .show_all::before {
        content: 'Показать все';
    }

    .show_all_link.active {
        margin-top: 24px;
    }

    .show_all_link.active .show_all::before {
        content: 'Скрыть';
    }

    .card_section {
        position: relative;
        height: 200px;
        overflow: hidden;
    }
    .card_section::after {
        display: none;
    }

    .show_all_container.active {
        height: auto;
        background: none;
        border: none;
    }


}

@media (min-width: 1120px) {
    .main_page {
        margin: auto;
        max-width: 1120px;
        height: 537px;
    }

    .content {
        margin: auto;
        max-width: 1120px;
        padding: 24px 24px;
    }

    .header {
        background: none;
        box-shadow: none;
        display: inline-block;
        position: absolute;
        margin-left: 675px;
        width: 450px;
        padding: 24px 24px;
    }

    .header_left_part {
        display: none;
    }

    .header_right_part {
        display: flex;
        align-items: center;
        width: 400px;
    }

    .main_btn {
        display: flex;
        width: 180px;
        justify-content: flex-end;
        align-items: center;

    }

    .btn_text {
        display: inline-block;
        font-family: "TTLakes-Medium", serif;
        font-size: 16px;
        color: #1B1C21;
        white-space: nowrap;
    }

    .title_text {
        display: inline-block;
        width: 300px;
    }

    .article_text {
        height: 160px;
        width: 490px;
        display: inline-block;
    }

    .content_img {
        width: 500px;
        position: relative;
        border-radius: 6px;
        left: 595px;
        bottom: 230px;
    }

    .navbar::after {
        display: none;
    }

    .navbar {
        max-width: 1120px;
        gap: 40px;
        overflow-x: visible;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .btn.repair::before {
        content: "Оставить заявку";
        font-family: "TTLakes-Medium", serif;
        color: #1B1C21;
        font-size: 16px;
        white-space: nowrap;
        position: relative;
        bottom: 2px;
        left: -145px;
    }

    .status::before {
        content: "Статус ремонта";
        font-family: "TTLakes-Medium", serif;
        color: #1B1C21;
        font-size: 16px;
        white-space: nowrap;
        position: absolute;
        top: 32px;
        right: 85px;
    }

    /*------------------*/
    /*2 раздел*/
    .wrapper {
        display: none;
    }
    .section_title {
        background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);;
    }

    .section_title_text {
        display: flex;
        margin: auto;
        max-width: 1072px;
    }

    .card_section {
        margin: auto;
        max-width: 1071px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 32px;
        text-align: center;
        padding: 24px 0 24px 0;
    }

    .link_container {
        display: flex;
        margin: auto;
        max-width: 1072px;
    }

    .show_all_link {
        width: 130px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        cursor: pointer;
        column-gap: 16px;
    }

    .show_all_link.active {
        width: 130px;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        cursor: pointer;
        column-gap: 16px;
        background: none;
        border: none;
    }

    .mobile_menu {
        width: 320px;
    }

     .show_all_link .show_all::before {
        content: 'Показать все';
    }

    .show_all_link.active .show_all::before {
        content: 'Скрыть';
    }

    .card_section {
        position: relative;
        height: 200px;
        overflow: hidden;
    }
    .card_section::after {
        display: none;
    }

    .show_all_container.active {
        height: auto;
        background: none;
        border: none;
    }
    .show_all_link.active {
        padding: 0;
    }

}

