@media (min-width: 768px) and (max-width: 1119px) {
    .header_right_part {
        width: 282px;
    }

    .extra_btns {
        display: flex;
        width: 170px;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        order: -2;
    }

    .header_divider {
        order: -1;
    }
    .header_divider:last-child {
        display: inline-block;
        order: 1;
    }

    .main_btn {
        order: 2;
    }

    .btn_text {
        display: none;
    }

    .article_text {
        height: 146px;
        width: 50%;
        display: inline-block;
    }

    .content {
        padding: 24px 24px;
    }

    .content_img {
        width: 40%;
        position: absolute;
        right: 16px;
        left: auto;
        top: 250px;
        border-radius: 6px;
    }

    /*------------------*/
    /*2 раздел*/
    .wrapper {
        display: none;
    }

    .section_title {
        padding: 16px 24px 16px 24px;
    }
    .card_section {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        text-align: center;
        padding: 24px;
        align-content: center;
    }

    .link_container {
        display: flex;
        margin: auto;
        max-width: 1096px;
        padding-left: 24px;
    }

    .show_all_link {
        width: 130px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        cursor: pointer;
    }

}

@media (min-width: 1120px) {
    .main_page {
        margin: auto;
        max-width: 1120px;
        height: 537px;
    }

    .content {
        margin: auto;
        max-width: 1120px;
        padding: 24px 24px;
    }

    .header {
        background: none;
        box-shadow: none;
        display: inline-block;
        position: absolute;
        margin-left: 675px;
        width: 450px;
        padding: 24px 24px;
    }

    .header_left_part {
        display: none;
    }

    .header_right_part {
        display: flex;
        align-items: center;
        width: 400px;
    }

    .main_btn {
        display: flex;
        width: 180px;
        justify-content: flex-end;
        align-items: center;

    }

    .btn_text {
        display: inline-block;
        font-family: "TTLakes-Medium", serif;
        font-size: 16px;
        color: #1B1C21;
        white-space: nowrap;
    }

    .title_text {
        display: inline-block;
        width: 300px;
    }

    .article_text {
        height: 160px;
        width: 490px;
        display: inline-block;
    }

    .content_img {
        width: 500px;
        position: relative;
        border-radius: 6px;
        left: 595px;
        bottom: 230px;
    }

    .navbar::after {
        display: none;
    }

    .navbar {
        max-width: 1120px;
        gap: 40px;
        overflow-x: visible;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .btn.repair::before {
        content: "Оставить заявку";
        font-family: "TTLakes-Medium", serif;
        color: #1B1C21;
        font-size: 16px;
        white-space: nowrap;
        position: relative;
        bottom: 2px;
        left: -145px;
    }

    .status::before {
        content: "Статус ремонта";
        font-family: "TTLakes-Medium", serif;
        color: #1B1C21;
        font-size: 16px;
        white-space: nowrap;
        position: absolute;
        top: 32px;
        right: 85px;
    }

    /*------------------*/
    /*2 раздел*/
    .wrapper {
        display: none;
    }
    .section_title {
        background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);;
    }

    .section_title_text {
        display: flex;
        margin: auto;
        max-width: 1072px;
    }

    .card_section {
        margin: auto;
        max-width: 1071px;
        display: flex;
        flex-wrap: wrap;
        gap: 37px;
        text-align: center;
        padding: 24px 0 24px 0;
    }

    .link_container {
        display: flex;
        margin: auto;
        max-width: 1072px;
    }

    .show_all_link {
        width: 130px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        cursor: pointer;
    }

}