* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile_menu {
    width:320px;
    min-height:100vh;
    position: relative;
    bottom: auto;
    box-shadow: -40px 0 120px 5px #7E7E82;
}

/*HEADER*/
.header {
    width: 320px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 24px;
}

.logo:hover {
    filter: brightness(80%) contrast(90%);
}


/*MAIN LIST*/
.menu_categories_list {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    list-style-type: none;
    gap: 32px;
}

.menu_categories_list a {
    font-family: "TTLakes-Medium", serif;
    font-size: 16px;
    color: #1B1C21;
    text-decoration: none;
    padding-left: 24px;
}

.menu_categories_list a:hover {
    color: #7E7E82;
}

.menu_categories_list :hover ::before {
    content: url("../img/icons/highlight.svg");
    display: inline-block;
    position: absolute;
    transform: translate(-24px, -10px);
}

/*BUTTONS top*/
.btn {
    width: 40px;
    height: 40px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    background-repeat: no-repeat;
    border-radius: 50%;

}

.btn:hover {
    /*transform: translateY(-6px);*/
    transition: .3s;
    transform: scale(1.2);
    box-shadow: 0 0 10px 5px lightpink;
}

.close {
  background-image: url("../img/icons/burger.svg");
}

.search {
    background-image: url("../img/icons/search.svg");
    margin-left: 60px ;
}

/*BUTTONS bottom*/
.contact_btns {
    width: 180px;
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
}

.call {
    background-image: url("../img/icons/call.svg");
}

.chat {
    background-image: url("../img/icons/chat.svg");
}

.profile {
    background-image: url("../img/icons/profile.svg");
}

/*CONTACTS*/
.contacts {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.email {
    font-family: "TTLakes-Medium", serif;
    font-size: 16px;
    color: #1B1C21;
    text-decoration: none;
    margin-top: 16px;
    padding-left: 24px;
}

.phone_number {
    text-decoration: none;
    margin-top: 12px;
    padding-left: 24px;
}

.phone_number pre{
    font-family: "TTLakes-Bold", serif;
    font-size: 24px;
    font-weight: 700;
    color: #1B1C21;
}

/*LANGUAGE*/
.language {
    display: flex;
    width: 120px;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 24px;
    list-style-type: none;
}

.language_item {
    font-family: "TTLakes-Medium", serif;
    font-size: 16px;
    color: #1B1C21;
    text-decoration: none;
}

.language a:hover {
    color: #7E7E82;
}

.language_active {
    color: #FF3E79;
}

.email:hover {
    color: #FF3E79;
    text-decoration: underline;
}
.phone_number pre:hover {
    color: #FF3E79;
    text-decoration: underline;
}