* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
}

.main-page {
    position: relative;
    width: 100%;
    padding: 100px;
    display: flex;
    align-items: center;
}

.title_text {
    font-family: "TTLakes-Bold", serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.6px;
    color: #1B1C21;
    position: relative;
    cursor: pointer;
}

.article_link {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
}

.article_link_text {
    font-family: "TTLakes-Medium", serif;
    color: #1B1C21;
    text-decoration: none;
    font-size: 16px;
}

/*NAV BAR*/

.navbar_item {
    font-family: "TTLakes-Medium", serif;
    font-size: 16px;
    color: #7E7E82;
    background: none;
    border: none;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: -0.2px;
    line-height: 24px;
    cursor: pointer;
}

.navbar::-webkit-scrollbar {
    width: 0;
}

.active {
    font-family: "TTLakes-Medium", serif;
    font-size: 16px;
    color: #7E7E82;
    background: white;
    border-radius: 6px;
    border-color: #B8FFEC;
    border-width: 2px;
    display: flex;
    padding: 8px 14px 8px 14px;
    border-style: solid;
    line-height: 24px;
    text-decoration: none;
    white-space: nowrap;
}

.navbar::after {
    content: " ";
    position: absolute;
    top: 174px;
    right: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}


/*-----------------------------------------------*/
/*BRAND LIST SECTION*/

.section_title {
    width: 100%;
    background: #ffffff;
    font-family: "TTLakes-Medium", serif;
    color: #7E7E82;
    padding: 16px;
    margin-top: 30px;
    border-top: #D9FFF5 solid 1px;
    min-width: 0;
}

.card-slider_content {
    width: 224px;
    height: 72px;
    background-color: white;
    padding: 16px;
    border: #EAEAEA solid 1px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 0;
    min-width: 100%;
}

.card-slider_content div {
    max-width: 100%;
}

.go {
    background-image: url("../assets/icons/go.svg");
    width: 40px;
    height: 40px;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

/*---------------------------*/

.wrapper {
    padding: 16px;
    height: 120px;
}

.card-slider {
    padding: 0 0 70px 0;

}
.card-slider_slide .swiper-slide-active {
  display: inline-block;
  width: 224px;
}

.card-slider .swiper-pagination {
    position: relative;
}

.card-slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #B5B6BC;
}

.card-slider {
    overflow: hidden;
}

.card-slider::after {
    content: " ";
    position: absolute;
    top: 115px;
    right: 0px;
    width: 44px;
    height: 82px;
    z-index: 5;
    background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 80%);
}

/*-----------------------*/
.card_section {
    display: none;
}

.card_section_item {
    width: 224px;
    height: 72px;
    background-color: white;
    padding: 16px;
    border: #EAEAEA solid 1px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.link_container {
    display: none;
}
.show_all_link {
    display: none;
}